<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!--<title>@ViewData["Title"] - UC Banilad</title>-->
	<title>UC Student Portal</title>
	<link rel="icon" href="~/uc.ico">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/test.styles.css" asp-append-version="true" />
</head>
<body>
	<header>

		<nav class="navbar navbar-expand-lg bg-dark border-bottom box-shadow mb-3" data-bs-theme="dark">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
					<img src="~/uc-logo-bg.png" style="height: 30px;" />
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarColor02">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link active" style="color: white;">UC BANILAD WEB PORTAL</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">
								Home
								<span class="visually-hidden">(current)</span>
							</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
							<div class="dropdown-menu">
								<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">About</a>
								<a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Add">Add Students</a>
								<a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="List">View Students</a>
							</div>
						</li>
					</ul>
					<div class="d-block">
						<button class="btn btn-info my-2 my-sm-0" type="submit">My Account</button>
						<button class="btn btn-info ml-5 my-2 my-sm-0" type="submit">Logout</button>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2024 - Saguisa, Arjay Nino | Quijano, John Reddick
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
